<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">

      <%= simple_form_for [cocktail, dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <br>
        <%=  f.submit "Add dose", class: "btn btn-gradient" %>
        <br>
      <% end %>
    </div>
</div>
